bench_data filter=lfs diff=lfs merge=lfs -text
bench_data/quotes_0005.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9868_20221103.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9961_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9999_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9999_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_0005_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9961_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_0005_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9961_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9961_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9868_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9961_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_0005_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9868_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9999_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9999_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9626_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9626_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9626_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9626_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9868_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9999_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9961_20221103.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_0005_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9626_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9626_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9999_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9868_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9999_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9961_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_0005_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9626_20221103.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9626_20221103.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9999_20221103.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_0005_20221103.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9626_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9626_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9999_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_0005_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_0005_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9961_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9868_20221103.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9961_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9961_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9999_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9868_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9999_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_0005_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9626_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9626_20221101.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9868_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9868_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9999_20221103.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9961_20221104.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_0005_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_0005_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_9868_20221109.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9868_20221102.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9868_20221108.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/quotes_9961_20221103.parquet filter=lfs diff=lfs merge=lfs -text
bench_data/multi_stream_data/trades_0005_20221103.parquet filter=lfs diff=lfs merge=lfs -text
