name: build

# Build and test the NautilusTrader platform

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  docker-image:
#    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PACKAGES_TOKEN }}

      - name: Get branch names
        uses: tj-actions/branch-names@v2.1
        id: branch-name

      - name: image name
        run: echo ghcr.io/${{ github.repository }}:${{ steps.branch-name.outputs.current_branch }}

      - name: Build backend
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: "Dockerfile"
          push: true
#          load: true
          tags: ghcr.io/${{ github.repository }}:${{ steps.branch-name.outputs.current_branch }}
          cache-from: type=gha
          cache-to: type=gha

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

#      - name: Build & push frontend
#        id: docker_build_push_frontend
#        uses: docker/build-push-action@v2
#        with:
#          file: "./frontend/Dockerfile"
#          push: true
#          tags: ghcr.io/${{ github.repository_owner }}/nautilus_frontend:${{ steps.branch-name.outputs.head_ref_branch }}
